extends layout

block content
    .row.banner.border-bottom.mb-4
        .col-12 
            h1 Starcups
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    p.rating
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                    p.address 125 High Street, Reading, RG6 1PS
                    .card 
                        .card-body 
                            h2.card-title Opening hours
                            p.card-text Monday - Friday: 7:00am - 7:00pm
                            p.card-text Saturday: 8:00am - 5:00pm
                            p.card-text Sunday: Closed
                    .card
                        .card-body 
                            h2.card-title Facilities
                            p.card-text
                                span.badge.bg-warning Hot drinks
                                | 
                                span.badge.bg-warning Food
                                | 
                                span.badge.bg-warning Premium wifi
        
                .col-12.col-md-6
                    .card
                        .card-body
                            h2.card-title Location map
                            iframe.w-100(height='250', src='https://www.google.com/maps/embed/v1/view?key=AIzaSyCG_7fE9hp3i0g3HEqq90jy85LOcv3toOc&center=51.455041,-0.9690884&zoom=17')
            .row
                .col-12
                    .card
                        .card-body
                            .d-flex.justify-content-between.align-items-center
                                h2.card-title Customer reviews
                                a.btn.btn-primary(href='/location/review/new') Add review
                            .review.mb-3
                                .review-header
                                    span.rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                        i.far.fa-star
                                    span.ms-2 Simon Holmes
                                    small.text-muted.ms-2 16 February 2019
                                p What a great place.
                            .review
                                .review-header
                                    span.rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    span.ms-2 Antonio Becerra
                                    small.text-muted.ms-2 14 February 2019
                                p It was okay. Coffee wasn't great.

        .col-12.col-lg-3
            p.lead Starcups is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
            p If you've been and you like it - or if you don't - please leave a review to help other people just like you.